<div class="background">
  <div class="banner">
    <div class="header">
      <h1 class="title">Get Started</h1>
      <div class="already-have-account">
        <p>
          Not sure how it should look like?
          <a routerLink="/requests" class="login-link">View Examples</a>
        </p>
      </div>
    </div>

    <div class="form-fields">
      <mat-form-field class="example-form">
        <mat-label>{{ "Subject" | titlecase }}</mat-label>
        <input
          matInput
          [placeholder]="'Ex: Mathematics'"
          value=""
          type="text"
          [(ngModel)]="model.firstName" />
      </mat-form-field>

      <mat-form-field class="example-form">
        <mat-label>{{ "Price" | titlecase }}</mat-label>
        <input
          matInput
          [placeholder]="'Ex: 100'"
          value=""
          type="number"
          [(ngModel)]="model.educationalInstitution" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ "Meeting Type" | titlecase }}</mat-label>
        <mat-select [(ngModel)]="model.role">
          <mat-option
            *ngFor="let accountType of accountTypes"
            [value]="accountType">
            {{ accountType }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form">
        <mat-label>{{ "Description" | titlecase }}</mat-label>
        <textarea
          matInput
          [placeholder]="'Ex: I teach High School level algebra, calculus and geometry.'"
          value=""
          type="text"
          [(ngModel)]="model.bio"></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        (click)="register()"
        color="primary"
        [disabled]="!emailFormControl.valid || !passwordFormControl.valid"
        routerLink="home-page">
        {{ "Post Announcement" | titlecase }}
      </button>
    </div>
  </div>
</div>
