<div class="box">
  <div class="external-login">
    <h3 class="external-login-header">
      Login using social media to get quick access
    </h3>
    <a href="www.facebook.com" class="external-login-button">
      <a class="fa fa-facebook"></a>
      <button>Login with Facebook</button>
    </a>
  </div>

  <app-form-input label="Email" ></app-form-input>

  <div class="login-form">
    <div class="login-form-header">
      <h3>Login to your account</h3>
      <h6>
        Don't have an account yet?
        <a href="https://www.facebook.com">Sign up Here</a>
      </h6>
    </div>

    <div class="login-form-inputs-container">
  <app-form-input label="Email" placeholder="email@example.com" ></app-form-input>
  <app-form-input label="Password" type="password" ></app-form-input>

      <!-- <div class="mb-3">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            id="staticEmail"
            placeholder="email@example.com"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-8">
          <input type="password" class="form-control" id="inputPassword" />
        </div>
      </div> -->
    </div>
    <button type="button" class="btn btn-primary">Login</button>
  </div>
</div>
<!-- 
 <div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh; width: 100vw   ;"
>
  <div class="box">
    <div class="external-login-options">
        <p>Login using social media to get quick access</p>
        <div class="btn btn-primary">Login with Facebook</div>
    </div>
    <div class="login-form">
      <p class="fw-bolder fs-2">Login to your account</p>
      <span class="fw-normal">Don't have an account?</span>
      <span class="fw-lighter">
        <a href="">Sign up Here</a>
      </span>

      <div class="mb-3">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="staticEmail"
            placeholder="email@example.com"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" />
        </div>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
      </div>

      <button type="button" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>  -->
