<div class="box">
  <div class="external-login">
    <h3 class="external-login-header">
      Login using social media to get quick access
    </h3>
    <a href="www.facebook.com" class="external-login-button">
      <a class="fa fa-facebook"></a>
      <button>Login with Facebook</button>
    </a>
  </div>

  <div class="login-form">
    <div class="login-form-header">
      <h3>Login to your account</h3>
      <h6>
        Don't have an account yet?
        <a href="https://www.facebook.com">Sign up Here</a>
      </h6>
    </div>

    <div class="login-form-inputs-container">
      <app-form-input
        label="Email"
        placeholder="email@example.com"
      ></app-form-input>
      <app-form-input label="Password" type="password"></app-form-input>
    </div>
    <button type="button" class="btn btn-primary">Login</button>
  </div>
</div>
