 <p>Mentors based on your filters</p> 
 <div class="divButton">
 <button mat-raised-button (click)="getMyReviews()" class="button">
  My Reviews
</button>
<button mat-raised-button (click)="sorted()"  class="button">Sort by Name</button>
<button mat-raised-button (click)="sortedStars()"  class="button">Sort by Stars</button>
</div>
<div  class="page">
<div *ngFor="let mentor of mentors; let i = index;" class="container">
	<div class="display">
		<div class="display-item">
			<div class="card seamus">
				<div class="card-top"></div>
				<div class="card-profile">
					<div class="profile-image">
					</div>
				</div>
				<div  class="card-info">
					<div class="info-title">
                        <br>
						<h2>{{mentor.username}} </h2>
                        <h4>Subject: {{mentor.subject}}</h4> 
                        <h4>Phone: {{mentor.phoneNumber}}</h4>
                        {{starsForMentors[i]}}
                        <!-- <br>
                        {{mentor.starsNumber}}
                        <br>
                        {{mentor.message}}
                        <br>
                        {{mentor.reviewStatus}} -->
					</div>
					<div class="card-rating divider">
						
                        <div class="rate" id="rating">
                            <input type="radio" id="star5_{{i}}" name="rate_{{i}}" value="5" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star5_{{i}}" title="text" [ngClass]="{'noHover' : !canEdit}">5 stars</label>
                            <input type="radio" id="star4_{{i}}" name="rate_{{i}}" value="4" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star4_{{i}}" title="text" [ngClass]="{'noHover' : !canEdit}">4 stars</label>
                            <input type="radio" id="star3_{{i}}" name="rate_{{i}}" value="3" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star3_{{i}}" title="text" [ngClass]="{'noHover' : !canEdit}">3 stars</label>
                            <input type="radio" id="star2_{{i}}" name="rate_{{i}}" value="2" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star2_{{i}}" title="text" [ngClass]="{'noHover' : !canEdit}">2 stars</label>
                            <input type="radio" id="star1_{{i}}" name="rate_{{i}}" value="1" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star1_{{i}}" title="text" [ngClass]="{'noHover' : !canEdit}">1 star</label>
                        </div>

                        <button mat-raised-button (click)="AddReview(i)">
                            Add Review
                        </button>
                        
					</div>
                    <div class="info-address divider">
						Address
                        <p>City: {{mentor.city}}</p>
                        <p>County: {{mentor.county}}</p>
                        <p>Details: {{mentor.addressInfo}}</p>
					</div>
					<div class="info-bio">
                        Short description
                        <p>{{mentor.bio}}</p>
                    </div>
				</div>
			</div>
		</div>
    </div>
</div>

</div>

