<div class="profile-card">
  <img src="../../../assets/images/user-profile.png" class="profile-image" />
  <div class="details">
    <div class="name-surname">
      <span class="value">{{
        userAccountWithAddress.username | titlecase
      }}</span>
    </div>

    <div class="city"
      >{{ "City: " | titlecase }}
      <span class="value">{{ userAccountWithAddress.city | titlecase }}</span>
    </div>

    <div
      class="courses"
      [style.display]="
        userAccountWithAddress.subject === null ? 'none' : 'block'
      "
      >{{ "Courses: " | titlecase }}
      <span class="value">{{
        userAccountWithAddress.subject | titlecase
      }}</span>
    </div>

    <div class="stars">
      {{ "Stars" | titlecase }}
    </div>
  </div>
</div>

<div class="more-about-me">
  <h1>{{ "🔥 More About Me: 👋" | titlecase }}</h1>

  <div class="studies">
    <h2>{{ "Studies:" | titlecase }} </h2>
    <p>{{ userAccountWithAddress.educationalInstitution }}</p>
  </div>

  <div class="bio">
    <h2>{{ "Bio:" | titlecase }} </h2>
    <p>{{ userAccountWithAddress.bio }}</p>
  </div>
</div>
<div id="map"></div>