<div class="profile-card">
  <img src="../../../assets/images/user-profile.png" class="profile-image" />
  <div class="details">
    <div class="name-surname">{{ "First Name + Last Name" | titlecase }}</div>
    <div class="city">{{ "City" | titlecase }}</div>
    <div class="courses">{{ "Courses" | titlecase }}</div>
    <div class="stars">
      {{ "Stars" | titlecase }}
    </div>
  </div>
</div>

<div class="more-about-me">
  <h1>{{ "🔥 More About Me: 👋" | titlecase }}</h1>

  <div class="studies">
    <h2>{{ "Studies:" | titlecase }} </h2>
    <p>studies</p>
  </div>

  <div class="bio">
    <h2>{{ "Bio:" | titlecase }} </h2>
    <p>bio</p>
  </div>
</div>
<div id="map"></div>