<div class="background">
  <div class="banner">
    <h1 class="title">Get Started</h1>
    <div class="already-have-account">
      <p>
        Already have an account?
        <a routerlink="/login" class="login-link">Sign In</a>
      </p>
    </div>
    <app-form-input label="First Name"></app-form-input>
    <app-form-input label="Last Name"></app-form-input>
    <app-form-input label="Email"></app-form-input>
    <app-form-input label="Password" type="password"></app-form-input>
  </div>
</div>
