<div class="container" *ngIf="person !== null">
	<div class="display">
		<div class="display-item">
			<div class="card seamus">
				<div class="card-top"></div>
				<div class="card-profile">
					<div class="profile-image">
					</div>
				</div>
				<div class="card-info">
					<div class="info-title">
						<h2>{{person.username}}</h2>
                        <h4>{{person.subject}}</h4>
                        <h4>{{person.phoneNumber}}</h4>
					</div>
					<!-- <div class="card-rating divider">
						
                        <div class="rate" id="rating">
                            <input type="radio" id="star5" name="rate" value="5" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star5" title="text" [ngClass]="{'noHover' : !canEdit}">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star4" title="text" [ngClass]="{'noHover' : !canEdit}">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star3" title="text" [ngClass]="{'noHover' : !canEdit}">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star2" title="text" [ngClass]="{'noHover' : !canEdit}">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" [disabled] = "!canEdit" [ngClass]="{'noHover' : !canEdit}"/>
                            <label for="star1" title="text" [ngClass]="{'noHover' : !canEdit}">1 star</label>
                        </div>

					
					</div> -->
					<div class="card-rating review-star-rating divider">
						<div class="ratings" id="ratings">
							<i id="1">★</i>
							<i id="2">★</i>
							<i id="3">★</i>
							<i id="4">★</i>
							<i id="5">★</i>
						</div>
					</div>
                    <div class="info-address divider">
						<p>{{person.city}}</p>
						<p>{{person.county}}</p>
						<p>{{person.addressInfo}}</p>
					</div>
					<div class="info-bio">
                        {{description}}
                    </div>

					<button mat-raised-button class="button width:" (click)="addReview(person)">
						Add Review
					</button>
					
				</div>
			</div>
		</div>
    </div>
</div>
