<div class="container">
  <div class="display">
    <div class="display-item">
      <div class="card seamus">
        <div class="card-top"></div>
        <div class="card-profile">
          <div class="profile-image"></div>
        </div>
        <div class="card-info">
          <div class="info-title">
            <h2>Firstname + Lastname</h2>
            <h4>Subject</h4>
            <h4>Phone number (if case)</h4>
          </div>
          <div class="card-rating divider">
            <app-star-rating></app-star-rating>
          </div>
          <div class="info-address divider">Address</div>
          <div class="info-bio">Short description</div>
        </div>
      </div>
    </div>
  </div>
</div>
