<div class="background">
  <div class="card-container" *ngFor="let announcement of announcements">
    <div class="subject">{{ announcement.subject }}</div>

    <div class="remaining-details">
      <div>{{ announcement.price }}</div>
      <div
        [style]="announcement.meetingType? 'background-color: green' : 'background-color: red'"
        style="color: white">
        {{ meetingTypes.get(announcement.meetingType) }}
      </div>
      <div class="description">{{ announcement.description }}</div>
    </div>
    
    <div class="options">
      <button (click)="delete(announcement.id)">❌</button>
    </div>
  </div>
</div>
