.background{
  padding: 10vh;
  // background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-container{
  background-color: white;
  width: 75%;
  padding: 3%;
  margin: 3vh;
  border-radius: 8px;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

