<img class="avatar mat-elevation-z8" src="../app/images/profile.jpg" />

    <h4 class="name">Hi anonymous user!</h4>
    <p class="designation">Role: ?</p>
    
    <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <a  routerLink="/home">Home</a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon></mat-icon>
            <a style="color: white;">Mentors</a>
        </button>
        <button mat-button class="menu-button" onclick="">
            <mat-icon>person</mat-icon>
            <a routerLink="/login" >LogIn</a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <a routerLink="/register" >Register</a>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <a style="color: white;">About us</a>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <a style="color: white;">Help</a>
        </button>
