<img class="avatar mat-elevation-z8" src="../../../assets/images/profile.jpg" />

    <div *ngIf="isLoggedin === true">
        <h4 class="name">Hi, {{socialUser.firstName}} {{socialUser.lastName}}</h4>
    <p class="designation">Email: {{socialUser.email}} <br> Role: ?</p>

    <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <a  routerLink="/home">Home</a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon></mat-icon>
            <a style="color: white;">Mentors</a>
        </button>
        <button mat-button class="menu-button" onclick="">
            <mat-icon>person</mat-icon>
            <a onclick="LogOut()">LogOut</a>
        </button>
  

    </div>
    <div *ngIf="isLoggedin === false">
        <h4 class="name">Hi anonymous user!</h4>
    <p class="designation">Role: ?</p>
    <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <a  routerLink="/home">Home</a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon></mat-icon>
            <a style="color: white;">Mentors</a>
        </button>
        <button mat-button class="menu-button" onclick="">
            <mat-icon>person</mat-icon>
            <a routerLink="/login" >LogIn</a>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <a routerLink="/register" >Register</a>
        </button>

    </div>
    
    
    
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <a style="color: white;">About us</a>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <a style="color: white;">Help</a>
        </button>
